flows/DIY_Day4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_opportunity_record1</name>
        <label>Assign opportunity record1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Opportunityrecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closedate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunityrecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunities_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunityrecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_account_record</name>
        <label>assign single account record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>accountsinglerecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountsinglerecord.individual_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountrecordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountsinglerecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_opportunity_record</targetReference>
        </connector>
    </assignments>
    <description>video example</description>
    <dynamicChoiceSets>
        <name>stagepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DIY Day4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DIY Day4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Accountrecord</name>
        <label>Accountrecord</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen3</targetReference>
        </faultConnector>
        <inputReference>accountrecordcollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Assign_opportunity_record</name>
        <label>Assign  opportunity record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Accountrecord</targetReference>
        </connector>
        <inputReference>Opportunityrecord</inputReference>
    </recordCreates>
    <recordRollbacks>
        <name>rollback_to_create</name>
        <label>rollback to create</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
    </recordRollbacks>
    <screens>
        <description>DIY2</description>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_opportunity_record1</targetReference>
        </connector>
        <fields>
            <name>opportunities_name</name>
            <dataType>String</dataType>
            <fieldText>opportunities name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>closedate1</name>
            <dataType>Date</dataType>
            <fieldText>closedate1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>stagepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sucessrecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(45, 0, 225);&quot;&gt;Opportunity created ID is &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 0, 225); background-color: rgb(255, 255, 255);&quot;&gt;{!Assign_opportunity_record}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(45, 0, 225); background-color: rgb(255, 255, 255);&quot;&gt;{!Accountrecord}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>screen3</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>rollback_to_create</targetReference>
        </connector>
        <fields>
            <name>invalid</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;invalid data please retry&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen4</name>
        <label>screen4</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_single_account_record</targetReference>
        </connector>
        <fields>
            <name>Account_name</name>
            <dataType>String</dataType>
            <fieldText>Account name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>recordtype</name>
            <dataType>String</dataType>
            <fieldText>recordtype</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountrecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountsinglerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Opportunityrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
