flows/DIY_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>count_error_pin</name>
        <label>count error pin</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>vari_countpin</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_password</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Deposite</name>
        <choiceText>Deposite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShowBalance</name>
        <choiceText>Showbalance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Withdrawal</name>
        <choiceText>Withdrawal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <decisions>
        <description>DIY 1</description>
        <name>Assign_password</name>
        <label>Assign password</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>output_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_error_password</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ATM_password</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9445</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>if error password</label>
        </rules>
    </decisions>
    <decisions>
        <description>DIY 1</description>
        <name>Select_option_to_enter</name>
        <label>Select option to enter</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>error_screeen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Outcome</defaultConnectorLabel>
        <rules>
            <name>Withdrawal_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Withdrawal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deposite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_3</targetReference>
            </connector>
            <label>Withdrawal ,Deposite outcome</label>
        </rules>
        <rules>
            <name>Show_balance_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ShowBalance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>screen_4</targetReference>
            </connector>
            <label>Show balance outcome</label>
        </rules>
        <rules>
            <name>insufficient_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaforwithdrawal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen5</targetReference>
            </connector>
            <label>insufficient amount</label>
        </rules>
    </decisions>
    <description>case study</description>
    <environments>Default</environments>
    <formulas>
        <name>Formulafordeposite</name>
        <dataType>Number</dataType>
        <expression>VALUE({!DepositeAmount})+{!TotalAmount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaforwithdrawal</name>
        <dataType>Number</dataType>
        <expression> IF(( {!TotalAmount}-VALUE({!WithdrawalAmmount}))&gt;0, ( {!TotalAmount}-VALUE({!WithdrawalAmmount})), 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>max_countformula</name>
        <dataType>Number</dataType>
        <expression>IF({!MAX_Attempt1}-{!vari_countpin}&lt;0,0,{!MAX_Attempt1}-{!vari_countpin})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalAmount</name>
        <dataType>Number</dataType>
        <expression>{!BankAccountbalance}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DIY 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DIY 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>error_screeen2</name>
        <label>error  screeen2</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errortext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Try after sometime&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>output_Screen</name>
        <label>output Screen</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_option_to_enter</targetReference>
        </connector>
        <fields>
            <name>Select_your_option</name>
            <choiceReferences>Withdrawal</choiceReferences>
            <choiceReferences>Deposite</choiceReferences>
            <choiceReferences>ShowBalance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen5</name>
        <label>screen5</label>
        <locationX>666</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>insufficientfund</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(218, 27, 27);&quot;&gt;Insufficient Fund&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>DIY1</description>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>count_error_pin</targetReference>
        </connector>
        <fields>
            <name>ATM</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;ATM&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ATM_password</name>
            <defaultValue>
                <stringValue>9445</stringValue>
            </defaultValue>
            <fieldText>ATM PIN Number</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;Length should be 4 digits&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ATM_password})=4</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>DIY 1</description>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_1</targetReference>
        </connector>
        <fields>
            <name>Errorforpassword</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Invalid PIN&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attemptsforpassword</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(228, 1, 1);&quot;&gt; you have  {!max_countformula}  Attempts  left&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MAX_3_Attempts</name>
            <dataType>Boolean</dataType>
            <fieldText>MAX 3 Attempts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;you reached the maximum attempts        &lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!vari_countpin} &lt; {!MAX_Attempt1},True,{!MAX_3_Attempts}=True)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>DIY 1</description>
        <name>screen_3</name>
        <label>screen 3</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_4</targetReference>
        </connector>
        <fields>
            <name>Enter_the_Amount_to_Withdrawal</name>
            <dataType>String</dataType>
            <fieldText>Enter the Amount to Withdrawal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Withdrawal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_the_Amount_to_Deposite</name>
            <dataType>String</dataType>
            <fieldText>Enter the Amount to Deposite</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Deposite</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_4</name>
        <label>screen 4</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen5</targetReference>
        </connector>
        <fields>
            <name>Balanceamountwithdrawal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(21, 21, 21);&quot;&gt;Account Balance: {!formulaforwithdrawal}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Withdrawal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formulaforwithdrawal</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AmountDeposite</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Account Balance:{!Formulafordeposite}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Deposite</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TotalAccountbalance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Account Balance: {!TotalAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ShowBalance</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>insufficientamount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Insufficient Amount&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Withdrawal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formulaforwithdrawal</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BankAccountbalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DepositeAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Enter_the_Amount_to_Deposite</elementReference>
        </value>
    </variables>
    <variables>
        <name>MAX_Attempt1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vari_countpin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vari_password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WithdrawalAmmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Enter_the_Amount_to_Withdrawal</elementReference>
        </value>
    </variables>
</Flow>
