flows/LF_casestudy_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_for_fault</name>
        <label>decision for fault</label>
        <locationX>575</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>error3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if false</defaultConnectorLabel>
        <rules>
            <name>if_fault_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_blood_donor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_screen_3</targetReference>
            </connector>
            <label>if record already exist</label>
        </rules>
        <rules>
            <name>if_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_blood_donor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_blood_donor</targetReference>
            </connector>
            <label>if true</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>bloodgrouppicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blood_Group__c</picklistField>
        <picklistObject>Blood_Donor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>districtpicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>District__c</picklistField>
        <picklistObject>Blood_Donor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>statepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Blood_Donor__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LF casestudy 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LF casestudy 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_blood_donor</name>
        <label>create blood donor</label>
        <locationX>602</locationX>
        <locationY>728</locationY>
        <connector>
            <targetReference>screen_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_error3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Blood_Group__c</field>
            <value>
                <elementReference>blood_group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blood_donor_Name__c</field>
            <value>
                <elementReference>Blood_Donor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Body_weight__c</field>
            <value>
                <elementReference>body_weight2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>districts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Emailbd.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_No__c</field>
            <value>
                <elementReference>phonenumber.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blood_donated_date__c</field>
            <value>
                <elementReference>Blood_donate_date</elementReference>
            </value>
        </inputAssignments>
        <object>Blood_Donor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_blood_donor</name>
        <label>get blood donor</label>
        <locationX>580</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_for_fault</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phonenumber.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Blood_Donor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_error3</name>
        <label>Copy 1 of error3</label>
        <locationX>848</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errortext3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 13, 13); font-size: 16px;&quot;&gt;oops Your record unable to create&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_screen_3</name>
        <label>Copy 1 of screen 3</label>
        <locationX>250</locationX>
        <locationY>749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errortext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;﻿Record already Exist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error3</name>
        <label>error3</label>
        <locationX>923</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errortext3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 13, 13); font-size: 16px;&quot;&gt;oops Your record unable to create&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_0</name>
        <label>screen 0</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <fields>
            <name>welcometext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(16, 0, 238); font-size: 16px;&quot;&gt;Welcome&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;To create a Record on Blood Donor Object&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>584</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_blood_donor</targetReference>
        </connector>
        <fields>
            <name>Blood_Donor_Name</name>
            <dataType>String</dataType>
            <fieldText>Blood Donor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phonenumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>9999999999</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blood_donate_date</name>
            <dataType>Date</dataType>
            <fieldText>Blood donate date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>body_weight2</name>
            <dataType>Number</dataType>
            <fieldText>body weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>statepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>districts</name>
            <choiceReferences>districtpicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>districts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blood_group</name>
            <choiceReferences>bloodgrouppicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>blood group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emailbd</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_2</name>
        <label>screen 2</label>
        <locationX>607</locationX>
        <locationY>860</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sucessscreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 0, 255);&quot;&gt;Your Record Successfully created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varbdrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Blood_Donor__c</objectType>
    </variables>
    <variables>
        <name>varrecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Blood_Donor__c</objectType>
    </variables>
</Flow>
