flows/Screen_ATM_DIY.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>PIN_Couner</name>
        <label>PIN Couner</label>
        <locationX>1304</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varN_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PIN_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Balance_After_Deposit</name>
        <label>Set New Balance After Deposit</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varN_OpeningBalance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CUD_Entered_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Balance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Balance_After_Withdraw</name>
        <label>Set New Balance After Withdraw</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varN_OpeningBalance</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>CUD_Entered_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Balance_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Balance</name>
        <choiceText>Show Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Deposit</name>
        <choiceText>Deposit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Withdraw</name>
        <choiceText>Withdraw</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Withdraw_Balance</name>
        <label>Withdraw &lt;= Balance</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Set_New_Balance_After_Deposit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deposit</defaultConnectorLabel>
        <rules>
            <name>EnoughBalance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_Entered_Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varN_OpeningBalance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CUD_ATM_Menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Balance_After_Withdraw</targetReference>
            </connector>
            <label>Withdraw and Enough Balance</label>
        </rules>
        <rules>
            <name>Withdraw_and_Not_Enough_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_Entered_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varN_OpeningBalance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CUD_ATM_Menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insufficient_Fund_Screen</targetReference>
            </connector>
            <label>Withdraw and Not Enough Balance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_reached</name>
        <label>Max reached</label>
        <locationX>1810</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>FInal_Stop_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop Execution</defaultConnectorLabel>
        <rules>
            <name>Yes_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varN_MaxAllowed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalScreen</targetReference>
            </connector>
            <label>Yes Max Attempts Reached</label>
        </rules>
        <rules>
            <name>Continue_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_Chk_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CUD</targetReference>
            </connector>
            <label>Continue=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PIN_Valid</name>
        <label>PIN Valid?</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Invalid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_PIN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CUD_PIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Menu</name>
        <label>Selected Menu?</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Selection empty</defaultConnectorLabel>
        <rules>
            <name>Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_ATM_Menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CUD_Amount</targetReference>
            </connector>
            <label>Withdraw</label>
        </rules>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_ATM_Menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CUD_Amount</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
        <rules>
            <name>Show_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_ATM_Menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Balance_Screen</targetReference>
            </connector>
            <label>Show Balance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_AttemptsLeftMessage</name>
        <dataType>String</dataType>
        <expression>&quot;You have &quot; + TEXT({!varN_MaxAllowed}-{!varN_Counter}) + &quot; more attempts Left&quot;</expression>
    </formulas>
    <interviewLabel>Screen : ATM DIY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : ATM DIY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Balance_Screen</name>
        <label>Balance Screen</label>
        <locationX>798</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Account_Balance</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Account Balance = {!varN_OpeningBalance}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CUD</name>
        <label>CUD</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PIN_Couner</targetReference>
        </connector>
        <fields>
            <name>CUD_PIN</name>
            <fieldText>PIN</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CUD_Amount</name>
        <label>CUD Amount</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Withdraw_Balance</targetReference>
        </connector>
        <fields>
            <name>Amount_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter the amount to be {!CUD_ATM_Menu}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CUD_Entered_Amount</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FInal_Stop_Screen</name>
        <label>FInal Stop Screen</label>
        <locationX>2074</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThanksMessage</name>
            <fieldText>&lt;p&gt;Thank you for Banking with us&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>1546</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dislpaymexerror</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You have reached max attempts. Please try again later&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficient_Fund_Screen</name>
        <label>Insufficient Fund Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Insuff_Fund_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Insufficient Fund&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Screen</name>
        <label>Invalid Screen</label>
        <locationX>1810</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Max_reached</targetReference>
        </connector>
        <fields>
            <name>NoofAttempts</name>
            <fieldText>&lt;p&gt;No of Attemptes : {!varN_Counter}&lt;/p&gt;&lt;p&gt;{!forT_AttemptsLeftMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CUD_Chk_Continue</name>
            <dataType>Boolean</dataType>
            <fieldText>Continue?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varN_Counter</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>varN_MaxAllowed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Menu</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Select your option&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CUD_ATM_Menu</name>
            <choiceReferences>choice_Withdraw</choiceReferences>
            <choiceReferences>choice_Deposit</choiceReferences>
            <choiceReferences>choice_Balance</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CUD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varN_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_MaxAllowed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_OpeningBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>50000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_PIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1234</stringValue>
        </value>
    </variables>
</Flow>
