flows/Video_Example_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign value to email</description>
        <name>Assign_value_to_email</name>
        <label>Assign value to email</label>
        <locationX>371</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>enteremail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enterphoneno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Phone_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Secondemail.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enteremail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decission_to_to_Enter_email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>just try</description>
        <name>Decission_to_to_Enter_email</name>
        <label>Decission to to Enter email</label>
        <locationX>697</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Output_screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if filled</defaultConnectorLabel>
        <rules>
            <name>if_not_filled</name>
            <conditionLogic>(1 AND 2 )OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Email_checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>phone_no_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Phone_number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>output_screen</targetReference>
            </connector>
            <label>if not filled</label>
        </rules>
        <rules>
            <name>noting_filled</name>
            <conditionLogic>(1 AND 2 )OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Email_checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>phone_no_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Phone_number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>output_screen</targetReference>
            </connector>
            <label>noting filled</label>
        </rules>
    </decisions>
    <description>Flow video day1 Example</description>
    <environments>Default</environments>
    <interviewLabel>Video  Example 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Video  Example 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>just try</description>
        <name>output_screen</name>
        <label>error screen</label>
        <locationX>870</locationX>
        <locationY>154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salesforce_App</targetReference>
        </connector>
        <fields>
            <name>error_for_email</name>
            <fieldText>&lt;p&gt;Enter Email and phone No&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>just try</description>
        <name>Output_screen1</name>
        <label>Output screen1</label>
        <locationX>406</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_you_screen</name>
            <fieldText>&lt;p&gt;Thank you&lt;/p&gt;&lt;p&gt;your Email is {!enteremail},{!Secondemail.value}&lt;/p&gt;&lt;p&gt;your phone no is{!enterphoneno}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>day1 video</description>
        <name>Salesforce_App</name>
        <label>Salesforce App</label>
        <locationX>280</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_value_to_email</targetReference>
        </connector>
        <fields>
            <name>Welcome_salesforce</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(20, 166, 164); font-size: 16px;&quot;&gt;Welcome to Salesforce&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Email checkbox</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_email</name>
            <dataType>String</dataType>
            <fieldText>Enter email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>phone_no_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>phone no Checkbox</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Phone_number</name>
            <dataType>Number</dataType>
            <fieldText>Enter Phone number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Secondemail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>152</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Salesforce_App</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>case study</description>
        <name>enteremail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enterphoneno</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>entertext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
